<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
	<nav th:replace="fragments/header :: barra_navegacao"></nav>
	<div class="panel clearfix">
		<div class="row">
			<div class="large-12 columns">
				<h3 th:text="#{cadastro.titulo}"></h3>
				<hr />
				<div class="large-12 columns">
					<div th:replace="fragments/alert :: error"></div>
					<form th:action="@{/public/cadastro}" th:object="${apostador}"
						method="post" id="cadastro_form">
						<div class="row">
							<div class="large-12 columns">
								<label for="nome"><span th:text="#{label.nome}"
									th:remove="tag"></span> <input th:field="*{nome}" type="text"
									id="nome" name="nome" required="required"
									th:title="#{cadastro.form.nome.err}" /> </label>
								<!-- small class="error"
									th:text="#{cadastro.form.nome.err}"></small -->
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<label for="email"> <span th:text="#{label.email}"
									th:remove="tag"></span> <small
									th:text="#{cadastro.form.tooltip.email}"></small> <input
									th:field="*{usuario.email}" type="email" id="usuario.email"
									name="usuario.email" required="required" autocorrect="off"
									autocapitalize="off" th:title="#{cadastro.form.email.err}" />
								</label>
								<!-- small class="error" th:text="#{cadastro.form.email.err}"></small -->
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<label for="usuario.senha"><span th:text="#{label.senha}"
									th:remove="tag"></span> <small
									th:text="#{cadastro.form.tooltip.senha}"></small><input
									th:field="*{usuario.senha}" type="password" id="usuario.senha"
									name="usuario.senha" th:title="#{cadastro.form.senha.err}"  required="required"/> </label>
								<!-- small class="error" th:text="#{cadastro.form.senha.err}"></small -->
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<label for="confirmar_password"><span
									th:text="#{label.confirmasenha}" th:remove="tag"></span> <input
									type="password" id="confirmar_password"
									name="confirmar_password"
									th:title="#{cadastro.form.confirma.err}" required="required" /> </label>
								<!-- small
									class="error" th:text="#{cadastro.form.confirma.err}"></small -->
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input id="cadastrar" type="submit"
									th:value="#{cadastro.form.btn}" class="button" /> <a
									id="voltar" th:href="@{/login}" class="button alert"
									th:text="#{botao.voltar}"></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer-copy"></div>
	<div th:replace="fragments/footer :: footer-scripts"></div>
	<script th:src="@{/static/js/pages/cadastro.js}" type="text/javascript"></script>
</body>
</html>