<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
	<nav th:replace="fragments/header :: barra_navegacao"></nav>
	<div class="panel">
		<div class="row">
			<div class="large-12 columns">
				<div class="row">
					<div class="large-12 columns">
						<h3>Bem-Vindo!</h3>

						<hr />

						<p>Este &eacute; o bol&atilde;o DE BICO. Para come&ccedil;ar, que tal realizar uns palpites? Divirta-se!</p>

						<br />
					</div>
				</div>
				<div class="row">
					<div class="carousel large-12 columns">
						<div th:each="c : ${campeonatos}">
							<ul class="pricing-table">
								<li class="title" th:text="${c.nome}"></li>
								<li class="price"><a
									th:href="@{|/campeonatos/${#strings.toLowerCase(c.tipo)}/${c.permalink}|}">Tabela</a></li>
								<li class="bullet-item"><a
									th:href="@{|/ranking/${c.permalink}|}">Ranking</a></li>
								<li class="cta-button clearfix" sec:authorize="!hasRole('ROLE_ADMIN')"><a class="button"
									th:href="@{|/campeonatos/${#strings.toLowerCase(c.tipo)}/${c.permalink}/palpites|}">Palpitar!</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer-copy"></div>
	<div th:replace="fragments/footer :: footer-scripts"></div>
</body>
</html>