<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag"></head>
<body>
	<nav th:replace="fragments/header :: barra_navegacao"></nav>
	<div class="panel clearfix">
		<div class="row">
			<div class="large-12 columns">

				<h3>Login</h3>
				<hr />
				<div class="large-12 columns">
					<div th:if="${logout}" class="row" id="logoutAlert">
						<div class="large-12 columns">
							<div class="alert-box success" th:text="#{login.logout}"></div>
						</div>
					</div>
					<div class="large-8 medium-8 small-12 columns">
						<div th:replace="fragments/alert :: error"></div>
						<form th:action="@{/login}" method="post">
							<div class="row">
								<div class="large-12 columns">
									<label for="username">Email: <input type="email"
										autocorrect="off" autocapitalize="off" id="username"
										name="username" th:value="${username}" />
									</label>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<label for="password">Senha: <input type="password"
										id="password" name="password" />
									</label>

								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<input id="remember-me" name="remember-me" type="checkbox" /><label
										for="remember-me">Lembrar minha senha</label>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<span class="right-box"> <a href="#"
										data-reveal-id="esqueci_senha">Esqueci minha senha :(</a> <br />
										Ainda n&atilde;o tem acesso? <br /> <a
										th:href="@{/public/cadastro/}">Fa&ccedil;a o seu cadastro
											aqui!</a>
									</span>
								</div>
							</div>
							<div class="row clearfix">
								<div class="large-8 columns">
									<input type="submit" value="Entrar" class="button" id="login" />
								</div>
							</div>
						</form>
					</div>
					<hr class="show-for-small-only" />
					<div class="large-4 medium-4 small-12 columns">
						<div>Fa&ccedil;a o login pelas redes sociais:</div>
						<br />
						<form th:action="@{/auth/google}" method="get">
							<input type="submit" value="Entrar com Google"
								class="social google button" id="login_google" /> <input
								name="scope" id="scope_google" type="hidden"
								value="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/userinfo.email" />
						</form>
						<form th:action="@{/auth/facebook}" method="get">
							<input type="submit" value="Entrar com Facebook"
								class="social fb button" id="login_fb" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="modal/esqueci_senha :: modal"></div>
	<div th:replace="fragments/footer :: footer-copy"></div>
	<div th:replace="fragments/footer :: footer-scripts"></div>
</body>
</html>