<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
	<nav class="top-bar" data-topbar=""
		th:replace="fragments/header :: barra_navegacao"></nav>

	<div th:replace="modal/regras :: modal"></div>

	<div class="panel">
		<div class="row">
			<div class="large-12 columns">
				<div class="row">
					<div class="large-12 columns">
						<h2>
							<span th:text="${campeonato.nome}"></span> <small th:if="${liga}">Ranking
								da Liga: <span th:remove="tag" th:text="${liga.nome}"></span>
							</small> <small th:unless="${liga}">Ranking Geral</small>
						</h2>
						<hr />
					</div>
				</div>

				<div class="row">
					<div class="large-4 columns">
						<p>
							D&uacute;vidas? Leia as <a href="#" data-reveal-id="regras">regras</a>.
						</p>
					</div>
					<div class="large-8 columns">
						<div class="large-6 small-12 columns">
							<select id="filtro_lista" th:field="*{ligas}" th:if="${!#lists.isEmpty(ligas)}">
								<option value="0">Ligas...</option>
								<option th:each="l: ${ligas}" th:value="${l.id}"
									th:text="${l.nome}"></option>
							</select>
							<span th:if="${#lists.isEmpty(ligas)}">&nbsp;</span>
						</div>
						<div class="large-4 small-12 columns">
                            <select id="filtro_rodada">
                                <option value="0">Rodadas...</option>
                            </select>
                        </div>
						<div class="large-2 small-12 columns">
							<button class="button postfix">Filtrar</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<div th:if="${#lists.isEmpty(ranking)}" data-alert=""
						class="alert-box info radius">
						Opa! Ningu&eacute;m palpitou ainda no <strong><span
							th:text="${campeonato.nome}"></span></strong>. <a
							sec:authorize="!hasRole('ROLE_ADMIN')"
							th:href="@{|/campeonatos/${#strings.toLowerCase(campeonato.tipo)}/${campeonato.permalink}/palpites|}">Corre
							l&aacute;</a> e seja o primeiro!
					</div>
					<table id="ranking_apostadores"
						th:if="not ${#lists.isEmpty(ranking)}">
						<thead>
							<tr>
								<th colspan="2" class="destaque">Classifica&ccedil;&atilde;o</th>
								<th class="text-center has-tip tip-top" data-tooltip=""
									data-options="disable_for_touch:true"
									title="Quantidade de pontos acumulados">Pontos</th>
								<th class="text-center has-tip tip-top" data-tooltip=""
									data-options="disable_for_touch:true"
									title="Acertou o placar na cabe&ccedil;a!">Placar</th>
								<th class="text-center has-tip tip-top" data-tooltip=""
									data-options="disable_for_touch:true"
									title="Quantidade de vit&oacute;rias">Vencedor</th>
								<th class="text-center has-tip tip-top" data-tooltip=""
									data-options="disable_for_touch:true"
									title="Quantidade de empates">Empate</th>
								<th class="text-center has-tip tip-top" data-tooltip=""
									data-options="disable_for_touch:true"
									title="Quantidades de gols do placar">Gols</th>
								<th class="text-center has-tip tip-top" data-tooltip=""
									data-options="disable_for_touch:true"
									title="Quantidade de palpites errados (nem gols certos..)">Errados</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p,iterStat : ${ranking}"
								th:class="${p.apostador.id == #authentication.principal.idApostador ? 'item-ranking-me' : iterStat.count le 4 ? 'item-ranking-top' : iterStat.size - 4 lt iterStat.count ? 'item-ranking-red' : 'item-ranking'}">
								<td class="time"
									th:classappend="${p.apostador.id == #authentication.principal.idApostador ? 'item-ranking-me' : iterStat.count le 4 ? 'item-ranking-top' : iterStat.size - 4 lt iterStat.count ? 'item-ranking-red' : 'item-ranking'}"
									th:text="${iterStat.count}"></td>
								<td class="time" th:text="${p.apostador.nome}"></td>
								<td class="text-center" th:text="${p.pontosTotal}"></td>
								<td class="text-center" th:text="${p.placar}"></td>
								<td class="text-center" th:text="${p.vencedor}"></td>
								<td class="text-center" th:text="${p.empates}"></td>
								<td class="text-center" th:text="${p.gols}"></td>
								<td class="text-center" th:text="${p.errados}"></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<hr />
					<h4>Meu Desempenho por Rodada</h4>
					<br />
					<div data-alert="" class="alert-box info radius" id="alert-loading">
						Opa! Carregando o seu desempenho...
						<div id="loader" class="right"></div>
					</div>
					<div data-alert="" class="alert-box info radius"
						id="alert-semdados" style="display: none;">Parece que
						voc&ecirc; ainda n&atilde;o possui palpites computados.</div>
					<div id="chart_container" class="panel hide">
						<div id="y_axis"></div>
						<div id="chart"></div>
						<div id="x_axis"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer-copy"></div>
	<div th:replace="fragments/footer :: footer-scripts"></div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js"></script>
	<script th:src="@{/static/js/pages/ranking.js}"></script>
</body>
</html>