<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
	<nav th:replace="fragments/header :: barra_navegacao"></nav>
	<div class="panel clearfix">
		<div class="row">
			<div class="large-12 columns" th:if="${errorCode == 404}">
				<h3 th:text="#{support.notFound.html.title}"></h3>
				<hr />
				<p>
					<a th:href="@{/}" th:text="#{support.error.html.urlMsg}"></a>
				</p>
			</div>

			<div class="large-12 columns"
				th:if="${errorCode == 403 || errorCode == 401}">
				<h3 th:text="#{support.credentials.html.title}"></h3>
				<hr />
				<p>
					<span th:text="${errorMsg}"></span> <a th:href="@{/login}"
						th:text="#{support.credentials.html.urlMsg}"></a>
				</p>
			</div>

			<div class="large-12 columns" th:if="${error || errorCode == 500}">
				<h3 th:text="#{support.error.html.title}"></h3>
				<hr />
				<p>
					<a th:if="${errorUrl}" th:href="${errorUrl}" th:text="#{support.error.html.urlMsg}"></a>
					<a th:if="${errorUrl} == null" th:href="@{/}" th:text="#{support.error.html.urlMsg}"></a>
				</p>
				<button th:if="${errorMsg}" class="button" id="btn_support_msg"
					th:text="#{support.error.html.show_button}"></button>
				<div th:if="${errorMsg}" class="alert-box warning"
					style="display: none" id="support_msg">
					<span th:text="${errorMsg}"></span>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer-scripts"></div>
	<script th:src="@{/static/js/pages/support.js}"></script>
</body>
</html>