<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="pt-br">

<head th:fragment="headTag">

<meta name="description"
	content="Gerencie com facilidade e muita divers&atilde;o um bol&atilde;o de futebol com seus amigos!" />
<meta name="keywords" content="bol&atilde;o,futebol,campeonato" />

<!-- https://developers.facebook.com/docs/opengraph -->
<meta property="og:title" content="De Bico! Bol&atilde;o Online" />
<meta property="og:image" th:content="@{/static/images/logo.png}" />
<meta property="og:description"
	content="Gerencie com facilidade e muita divers&atilde;o um bol&atilde;o de futebol com seus amigos!" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<title th:text="${title}">De Bico! \o/</title>

<link th:href="@{/static/css/favicon.ico}" rel="icon"
	type="image/x-icon" />
<!-- Sempre escolher a opcao "sem tema" -->
<link rel="stylesheet" th:href="@{/static/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/jquery-ui.theme.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/jquery-ui.structure.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/jquery-ui-timepicker-addon.css}" />
<link rel="stylesheet" th:href="@{/static/css/foundation-icons.css}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css" />

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.min.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/web_app.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/static/css/de_bico.css}" />

<!-- necessario para todos os APIs -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var URLS = {
		images : {
			brasao : /*[[@{/static/images/brasao}]]*/'/static/images/brasao',
		},
		widgets : {
			palpite : /*[[@{|/widgets/palpite/${campeonato==null ? 0 : campeonato.permalink}|}]]*/,
			partidas : /*[[@{|/widgets/partidas/${campeonato==null ? 0 : campeonato.permalink}|}]]*/'/widgets/partidas/{permalink}',
			rodadas : /*[[@{|/widgets/rodada/rodadas/?campeonato=${campeonato==null ? 0 : campeonato.permalink}|}]]*/'/widgets/rodada/rodadas?campeonato={permalink}',
			buscatime : /*[[@{/widgets/time}]]*/'/widgets/time',
			apostadores : /*[[@{/widgets/apostadores}]]*/'/widgets/apostadores',
			liga : /*[[@{/widgets/liga}]]*/'/widgets/liga',
			desempenho : /*[[@{|/widgets/desempenho/apostador_rodada/?campeonato=${campeonato==null ? 0 : campeonato.permalink}|}]]*/'/widgets/desempenho/apostador_rodada/?campeonato=',
			liga_apostador : /*[[@{/widgets/liga_apostador}]]*/'widgets/liga_apostador',
		},
		api : {
			partida : /*[[@{/api/partida/}]]*/'/api/partida/'
		}
	}
	/*]]>*/
</script>

<!-- Google Analytics -->
<script type="text/javascript" th:inline="javascript" th:if="${@viewOptions.enableGa == true}">
    //<![CDATA[ 
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	var user = 'auto';
	
	/*[+
	if([[${#authorization.expression('isAuthenticated()')}]]) {
		user =  {'userId' : '[[${#usuario.id}]]'};
	}
	+]*/
	
	/*[+
	   
	if([[${@viewOptions.gaLocalhost}]] && [[${#authorization.expression('isAuthenticated()')}]]) {
		ga('create', [[${@viewOptions.gaWebPropertyId}]], user, {'cookieDomain': 'none'});  
	} else if([[${#authorization.expression('isAuthenticated()')}]]) {
		ga('create', [[${@viewOptions.gaWebPropertyId}]], user); 
	} else {
		ga('create', [[${@viewOptions.gaWebPropertyId}]]); 
	}
    	
    +]*/
		
	ga('send', 'pageview');
	 // ]]>
</script>
<!-- End Google Analytics -->
</head>

<body>
</body>

</html>