<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
	<div id="editar_liga" class="reveal-modal" data-reveal=""
		th:fragment="editar_liga">
		<h4>Sua Liga</h4>
		<p>Criar a sua liga &eacute; f&aacute;cil. Pense em um nome bacana
			(ex: Liga dos Patr&otilde;es), clique em salvar e depois adicione os
			seus camaradas.</p>
		<form th:action="@{/minhas-ligas/}" method="post" id="editar_liga_form" data-bind="submit: salvar">

			<div class="row">
				<div class="large-12 columns">
					<label for="nome"><span th:text="#{label.nome}"
						th:remove="tag"></span> <input type="text" id="nome" name="nome"
						required="required" maxlength="500" th:title="#{input.nome.error}" data-bind="value: nome"/>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<button type="submit" class="button">Salvar!</button>
				</div>
			</div>
			<input type="hidden" data-bind="value: id" />
		</form>
		<a class="close-reveal-modal">&#215;</a>
	</div>
</body>
</html>